body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    height: 100vh;
    background-color: #f5f5f5;
}
.container {
    text-align: left;
    background-color: white;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container-exp {
    text-align: left;
}
.container-about {
    text-align: left;
}
.container-hobby {
    line-height: 25px;
}
.profile-picture {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 5%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.p-credit {
    font-size: 13px;
    text-align: left;
}
.links {
    font-weight: 600;
}
h1 {
    margin: 0;
    font-size: 35px;
    color: black;
    font-weight: 900;
}
p {
    margin: 20px 0;
    font-size: medium;
    color: #5e5e5e;
}
a {
    text-decoration: none;
    color: #0050a1;
    font-size: 1em;
}
li {
    color: #5e5e5e;
}